.nav {
  background-color: #880404;
  margin: 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #F3F3F3;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo {
  font-size: 26px;
  margin-right: auto;
  margin-left: 10px;
  color: #f3f3f3;
  font-weight: bold;
  text-decoration: underline;
}
.logo:hover{
  cursor: pointer;
}

.items {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 0px;
  font-size: 20px;
  padding: 6px;
}
.items:hover {
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 0px;
  font-size: 20px;
  background-color: #d63434;
  cursor: pointer;
  border-radius: 14px;
  padding: 6px;
 
}
.search {
    height: 38px;
    width: 400px;
    border-radius: 11px;
    border: transparent;
    text-align: center;
    font-size: 18px;
    margin-right: 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.searchForm{
  margin-right: 5%;
}
.searchButton{
  height: 42px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  width:47px;
  border: transparent;
  background-color: black;
  font-size: 15px;
}
.searchButton:hover{
  height: 42px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  width:47px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.blog-list-item {
  width: 800px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 20px 60px;
  box-shadow: 0 0 1em #80808066;
}

.blog-list-form {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 20px 60px;
  box-shadow: 0 0 1em #80808066;
}
.blog-list-one {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 20px 60px;
  box-shadow: 0 0 1em #80808066;
}

.blog-list-item-image {
  float: left;
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin-right: 20px;
  margin-bottom: 5%;
}

.blog-list-item-title {
  font-size: 35px;
  font-family: "Francois One";
  margin-bottom: 10px;
}

.blog-list-item-lede {
  display: block;
  margin-bottom: 50px;
}

.blog-list-item-lede img {
  width: 100%;
}

.blog-list-item-byline {
  font-size: 0.8em;
  margin-bottom: 15px;
  color: #777777;
}

.blog-list-item-byline-author {
  font-weight: bolder;
}

.blog {
  padding: 0px 10% 0px 10%;
}


form {
  display: grid !important;
}

form input[type="text"] {
  width: 400px;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 1%;
}

form button {
  width: 50%;
  background-color: #8d0707;
  color: white;
  border-radius: 4px;
}

form textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  margin-top: 2px;
  resize: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #880404;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline;
}

.job-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 1rem;
  margin-top: 3%;
}

.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  height:40px
}
.job-item:hover{
  color :white;
  background-color: #000000;
  cursor: pointer;
}

.job-item span {
  font-weight: bold;
}

